/* icons */
@import "font-awesome.min.css"

.sp-iconfont
  font-family: 'Font Awesome 5 Free'
  font-size 16px
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  display inline-block
  font-style normal
  font-variant normal
  text-rendering auto
  line-height 1

.sp-icon-warning:before
  content "\f071"
.sp-icon-clear:before
  content "\f2ed"
.sp-icon-unselect-all:before
  content "\f0c8"
.sp-icon-select-all:before
  content "\f14a"
.sp-icon-last:before
  content "\f101"
  font-weight 600
.sp-icon-first:before
  content "\f100"
  font-weight 600
.sp-icon-next:before
  content "\f105"
  font-weight 600
.sp-icon-previous:before
  content "\f104"
  font-weight 600
.sp-icon-close:before
  content "\f00d"
  font-weight 600
.sp-icon-loading:after
  content "\f013"